

#logo {
    display: inline;
    width: 50%;
}
#logo img{
    margin-top: 30px;
    width: 20em;
}
@media only screen and (max-width: 500px) { 
    #logo img{
        margin-top: 30px;
        width: 100%;
    }
}

