@font-face{
    src: local('Marvel'),
    url('../fonts/marvel.bold.ttf');
}


#nameHero {
    color: #ffff;
    font-size: 30px;
    font-family: 'Marvel';
    border: none;
}


#close{
    background-color: black;
    border: none;
    margin-left: 98%;
}

.personagem {
    border-block-color:  white;
}
.personagem img{
    width: 25em;
    height: 400px;
}
#info{
    color: rgba(133, 129, 129, 0.699);
    margin-bottom: 0px;
}

#modal{
    background-color: rgba(245, 40, 40, 0.932);
}

@media only screen and (max-width: 787px) { 
  
    .personagem img{
    width: 90%;
    }
    #close{
        background-color: black;
        border: none;
        margin-left: 90%;
    }
}