@font-face{
    src: local('Marvel'),
    url('../fonts/marvel.bold.ttf');
}
.container{
    width: 94%;
    
    margin-right: auto;
    margin-left: auto;
}
#form{
    text-align: center;
    
}
#nameHero {
    background-color: black;
    color: #ffff;
    font-size: 30px;
    font-family: 'Marvel';
    border: none;
    border-bottom: 2px solid red;
    
}
h2{
    color: white;
}
#search{
    margin-left: 10px;
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: 10px;
    font-size: 2em;
    font-family: 'Marvel';
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
}
#search:hover{
    color: rgb(0, 0, 0);
    background-color: white;
}
@media only screen and (min-width: 1217px) and (max-width: 1616px){
    #form input{
        font-size: 30px;
    }
}


@media only screen and (max-width: 787px) { 
    #form{
        display: inline;
        margin-left: 0;
    }
    #form input{
        font-size: 20px;
    }
    #form button{
        font-size: 20px;
    }
}

#herois{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    text-align: center;
    
}

.personagem {
    border-block-color:  white;
}
.personagem img{
    width: 25em;
    height: 400px;
}
.personagem h2{
    color: white;
    text-transform: uppercase;
}
.personagem p {
    color: white;
}

@media only screen and (min-width: 1217px) and (max-width: 1616px){
    #herois{
        grid-template-columns: auto auto auto;
    }
}
@media only screen and (max-width: 1316px){
    #herois{
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 787px) { 
    #herois{
        margin: 0 auto;
        grid-template-columns: auto;
    }
    .personagem img{
    width: 100%;
    }
}