@font-face{
    src: local('Marvel'),
    url('../fonts/marvel.bold.ttf');
}

.letter{
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border: none;
    font-size: large;
    padding: 10px;
}
.letter:hover{
    color: red;
    text-shadow:1px 1px #f07979 ;
}

#herois{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    text-align: center;
}
.found{
    display: flex;
    flex-wrap: wrap;
}
#form {
    padding-left: 10%;
    display: flex;
    flex-direction: row-reverse;
}
#form input{
    font-size: 25px;
    color: white;
    background-color: black;
    border:none;
    border-bottom: solid 1px red;
}
#search{
    border: none;
    background: #EC1D24;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 120px;
    color: white;
    margin-left: 25px;
    box-shadow: 0 3px 6px 0 rgba(250, 250, 250, 0.288);

    margin-left: 10px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Marvel';
}
#search:hover{
    color: rgb(0, 0, 0);
    background-color: white;
}
#notFoudHero{
    width: 100%;
    height: 45em;
}
#notFoudHero h1{
    color: #fff;
    top: 30%;
    text-align: center;
    text-transform: uppercase;
    text-shadow:1px 1px #ee4b4b
}
@media only screen and (min-width: 1217px) and (max-width: 1616px){
    #herois{
        grid-template-columns: auto auto auto;
    }
    #form{
        padding-left: 0;
    }
}
@media only screen and (max-width: 1316px){
    #herois{
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 787px) { 
    #herois{
        margin: 0 auto;
        grid-template-columns: auto;
    }
    .personagem img{
    width: 90%;
    }
    #form {
        display: flex;
        flex-direction: row-reverse;
        padding-left: 0;
    }
    #form input{
        font-size: 15px;
        
    }
    #form button{
        font-size: 15px;
    }
}



